##################################
# .NET Core / Visual Studio
##################################

# Build results
bin/
obj/

# Debug / Release
Debug/
Release/
x64/
x86/
AnyCPU/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.iml

# VS Code
.vscode/

# Test results
TestResults/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Playwright
playwright-report/
test-results/